<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
[%- PROCESS macros.tt -%]
[%- USE Math -%]
[%- SET gallery_width  = gallery.gallery_image_width || 500 -%]
[%- SET gallery_height = gallery.gallery_height || 500 -%]
[%- SET thumbnail_width  = gallery.thumbnail_width || 100 -%]
[%- SET thumbnail_height = gallery.thumbnail_height || 100 -%]

<style>
.gallery-height {
    height: [% gallery_height %]px;
}

.gallery-height2 {
    height: [% gallery_height + 2 %]px;
}

#gallery #main {
    width: [% gallery_width + 66 %]px;
}

#gallery #image {
    width: [% gallery_width %]px;
}

#gallery #image-info {
    width: [% (gallery.gallery_info_width || gallery_width) - 6 %]px;
}

#gallery #navigation {
    width: [% ( (gallery.thumbnail_width + 10) * gallery.thumbnails_per_page) + 66 %]px;
    height: [% thumbnail_height + 10 %]px;
}

#gallery #navigation-blocks {
    width: [% ( (gallery.thumbnail_width + 10) * gallery.thumbnails_per_page) %]px;
}

#gallery #navigation .navigation-block {
    width: [% thumbnail_width  %]px;
    height: [% thumbnail_height %]px;
}
</style>

<div id="gallery">
 <div id="info">
  <div id="gallery-name">[% gallery.name | html %]</div>
  <div id="gallery-keyword-search" class="ui-widget"><label for="keyword-search">Search: <label><input id="keyword-search" type="text" value="[% keyword %]"/></div>
  <div style="clear: both;"></div>
 </div>
 <div id="wrapper">
  <div id="main" class="gallery-height2">    
   <div id="previous-image" class="button"><a href="#"><img style="margin-top: [% gallery_height / 2 %]" src="[% c.uris_for_themed_static('images/icons/previous2.png').first %]" alt="previous image" /></a></div>
   <div id="image" class="gallery-height"><div id="image-container"></div></div>
   <div id="next-image" class="button"><a href="#"><img style="margin-top: [% gallery_height / 2 %]" src="[% c.uris_for_themed_static('images/icons/next2.png').first %]" alt="next image" /></a></div>
  </div>
  <div id="image-info">
   <div id="image-description-button" class="button"><a href="#"><img id="showinfo-down" style="display: block;" src="[% c.uris_for_themed_static('images/icons/arrow_down.png').first %]" /><img id="showinfo-up" style="display:none" src="[% c.uris_for_themed_static('images/icons/arrow_up.png').first %]" /></a></div>
   <div id="image-title"></div>
   <div id="image-description"></div>
   <!-- <div id="image-keywords"></div> -->
  </div>
  <div id="navigation">
   <div id="previous-page"class="button"><a href="#"><img class="button" style="margin-top: [% thumbnail_height / 2 %]" src="[% c.uris_for_themed_static('images/icons/previous2.png').first %]" alt="previous page" /></a></div>
   <div id="navigation-blocks"><div class="page active"></div></div>
   <div id="next-page" class="button"><a href="#"><img class="button" style="margin-top: [% thumbnail_height / 2 %]" src="[% c.uris_for_themed_static('images/icons/next2.png').first %]" alt="next page" /></a></div>
  </div>
 </div>
</div>

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script> -->

<script type="text/javascript" src="[% c.uri_for_static('js/jquery.min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for_static('js/jquery-ui.min.js') %]"></script>

[% js_themed('js/gallerycat.js') %]
<script>

GalCat.max_page = [% Math.int((images.size - 1) / gallery.thumbnails_per_page) %];
GalCat.thumbnails_per_page = [% gallery.thumbnails_per_page %];
GalCat.thumbnail_width = [% gallery.thumbnail_width %];
GalCat.thumbnail_height = [% gallery.thumbnail_height %];
GalCat.image_height = parseInt([% gallery_height %]);
GalCat.image_width  = parseInt([% gallery.gallery_image_width %]);
GalCat.info_height  = parseInt([% gallery.gallery_info_height %]);
GalCat.spacer_image = '[% c.uri_for_static('images/spacer.gif') %]';

GalCat.images = [% images_json %];


// $('#keyword-search').autocomplete({
//     source: '[% c.uri_for( c.controller.action_for('gallery_keywords_json'), [gallery.id] ) %]',
//     select: function(event, ui) {
//         var uri = '[% c.req.uri_with({ keyword => 'xxx' }) %]';
//         uri = uri.replace( 'xxx', ui.item.value );
//         window.location = uri;
//     }
// });
    
</script>

