<html>
<head>
 <title>GalleryCat[% IF gallery.name %]- [% gallery.name %][% END %]</title>
 <link rel="stylesheet" type="text/css" href="[% c.uri_for_static('css/gallerycat.css') %]" />
</head>
<body>
[% content %]
</body>
