body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
    font-size: 80%;
}

#gallery {
    background: black;
    color: white;
}

#gallery a {
    color: white;
    text-decoration: none;
}

#gallery a:hover {
    text-decoration: underline;
}


/* Galleries list page */

#gallery #gallery-info {
    text-align: center;
}

#gallery #list {
    margin: 20px auto;
}

#gallery #list h2 {
    font-size: 110%;
    margin-top: 0;
}

#gallery #list a img {
    border: none;
}

#gallery .list-container {
    padding: 5px;
    clear: both;
    border-top: 1px solid #333;
}

#gallery .list-container.first {
    border-top: none;
}

#gallery .cover {
    float: left;
}

#gallery .gallery-info {
    float: right;
}

#gallery .cover-placeholder  {
    text-align: center;
    border: 1px solid #ddd;
}

/* Images page */


#gallery #info {
    border-bottom: 1px solid #333;
    padding: 5px;
    margin-bottom: 5px;
}

#gallery #gallery-keyword-search {
    text-align: right;
}

#gallery #keyword-search {
    border: none;
    width: 200px;
}

#gallery #gallery-name {
    width: 45%;
    float: left;
    padding-left: 20px;
    text-align: left;
}

#gallery {
    text-align: center;
}

#gallery #wrapper {
    text-align: center;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#gallery #image-title {
    font-weight: bold;
    font-size: 110%;
}

#gallery #image-description {
}

#gallery #image-keywords {
    margin-top: 10px;
}

#gallery #info {
    margin: 3px 0;
}

#gallery img.button, #gallery .navigation-block img {
    border: none; 
}

#gallery #image-info {
    text-align: left;
    height: 4em;
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: #222;
    border: 1px solid #555;
    clear: both;
}

#gallery #image img {
    display: block;
}


#gallery #image {
    overflow: hidden;
    border: 1px solid #444;
    background: black;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#gallery #image-container {
    position: relative;
}

#gallery #main {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#gallery #main .inactive {
    opacity: 0.3;
}

#gallery #main #previous-image {
    margin: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

#gallery #main a {
}

#gallery #main #next-image {
    margin: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

#gallery #navigation {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 20px 0 0 0;
}

#gallery #navigation .navigation-block {
    margin: 8px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#gallery #navigation .navigation-block a img {
    opacity: 0.6;
}

#gallery #navigation .navigation-block a.active img {
    opacity: 1.0;
}

#gallery #navigation .navigation-block.active {
}


#gallery #navigation-blocks {
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}


#gallery #navigation-blocks .page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#gallery #navigation-blocks .page.fading {
    position: absolute;
}

#gallery #navigation-container {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#gallery #navigation div.button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

#gallery #navigation a {
}

#gallery #navigation div.button a.inactive img {
    opacity: 0.3;
}

br { margin: 0; width: 0; height: 0; padding: 0; line-height: 0; }
 
