body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: Verdana, Arial, sans-serif;
    font-size: 90%;
}

#gallery {
    background: black;
    color: white;
}

#gallery a {
    color: white;
    text-decoration: none;
}

#gallery a:hover {
    text-decoration: underline;
}


/* List page */

#gallery #list {
    margin: 20px auto;
}

#gallery #list h2 {
    font-size: 110%;
    margin-top: 0;
}

#gallery #list a img {
    border: none;
}

#gallery .list-container {
    padding: 5px;
    clear: both;
    border-bottom: 1px solid #333;
}

#gallery .cover {
    float: left;
}

#gallery .gallery-info {
    float: right;
}

/* Gallery page */


#gallery #info {
    border-bottom: 1px solid #333;
    padding: 5px;
    margin-bottom: 5px;
}

#gallery #gallery-name {
    width: 45%;
    float: left;
    padding-left: 20px;
    text-align: left;
}

#gallery #image-title {
    width: 45%;
    float: right;
    padding-right: 20px;
    text-align: right;
}


#gallery #info {
    margin: 3px 0;
}

#gallery img.button, #gallery .navigation-block img {
    border: none; 
}


#gallery #image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gallery #image-container {
    position: relative;
}

#gallery #image {
    margin-left: 30px;
    margin-right: 30px;
}

#gallery #image {
    overflow: hidden;
}

#gallery #main #previous-image {
    padding-left: 20px;
    float: left;
    width: 45px;
    margin: 0;
}

#gallery #main #next-image {
    padding-right: 20px;
    float: right;
    width: 48px;
    margin: 0;
    
}

#gallery #navigation {
    margin: 5px;
    border-top: 1px solid #333;
    padding-top: 5px;
    clear: both;
}

#gallery #navigation .navigation-block {
    float: left;
    margin: 8px;
}

#gallery #navigation .navigation-block a img {
    border: 2px solid black;
}

#gallery #navigation .navigation-block a.active img {
    border: 2px solid #999;
}

#gallery #navigation-blocks {
    float: left;
    width: 600px;
    height: 110px;
    overflow: hidden;
    white-space: nowrap;
}

#gallery #navigation-blocks .page {
    width: 600px;
    height: 110px;
    float: left;
    position: absolute;
}



#gallery #navigation-container {
    float: left;
}

#gallery #navigation div.button {
    float: left;
    margin: 10px;
    width: 48px;
}


#gallery .navigation-block img {
    display: block;
    margin: auto auto;
}

