body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
    font-size: 80%;
}

#gallery {
    background: black;
    color: white;
}

#gallery a {
    color: white;
    text-decoration: none;
}

#gallery a:hover {
    text-decoration: underline;
}


/* Galleries list page */

#gallery #gallery-info {
    text-align: center;
}

#gallery #list {
    margin: 20px auto;
}

#gallery #list h2 {
    font-size: 110%;
    margin-top: 0;
}

#gallery #list a img {
    border: none;
}

#gallery .list-container {
    padding: 5px;
    clear: both;
    border-top: 1px solid #333;
}

#gallery .list-container.first {
    border-top: none;
}

#gallery .cover {
    float: left;
}

#gallery .gallery-info {
    float: right;
}

#gallery .cover-placeholder  {
    text-align: center;
    border: 1px solid #ddd;
}

/* Images page */


#gallery #info {
    border-bottom: 1px solid #333;
    padding: 5px;
    margin-bottom: 5px;
}

#gallery #gallery-keyword-search {
    text-align: right;
}

#gallery #keyword-search {
    border: none;
    width: 200px;
}

#gallery #gallery-name {
    width: 45%;
    float: left;
    padding-left: 20px;
    text-align: left;
}

#gallery .button img {
    border: none;
}

#gallery #main {
    margin: 0 auto;
}

#gallery #main .button {
    float: left;
    display: inline;
}

#gallery #main .inactive {
    opacity: 0.3;
}

#gallery #image {
    float: left;
    overflow: hidden;
    border: 1px solid #444;
    background: black;
}

#gallery #image-container {
    position: relative;
}

#gallery #image-info {
    margin: 0 auto;
    text-align: left;
    padding: 3px;
    background: #222;
    border: 1px solid #555;
    border-top: none;
    overflow: hidden;
}

#gallery #image-title {
    font-weight: bold;
    font-size: 110%;
}

#gallery #image-description {
}

#gallery #image-description-button {
    float: right;
}

#gallery #image-description.hidden {
    
}

#gallery #image-keywords {
    margin-top: 10px;
}

#gallery #navigation {
    margin: 0 auto;
}

#gallery #navigation .button {
    float: left;
    display: inline;
    
}

#gallery #navigation-blocks {
    float: left;
    width: 100%;
}

#gallery #navigation-blocks .page.fading {
    position: absolute;
}

#gallery .navigation-block {
    margin: 5px;
    float: left;
}

#gallery .navigation-block img {
    border: none;
}

#gallery .page {
    float: left;
}


#gallery #navigation .navigation-block a img {
    opacity: 0.6;
}

#gallery #navigation .navigation-block a.active img {
    opacity: 1.0;
}

#gallery #navigation .inactive {
    opacity: 0.3;
}
